git libglib2.0-dev libfdt-dev libpixman-1-dev zlib1g-dev ninja-build build-essential python3 python3-pip libaio-dev libcap-ng-dev libiscsi-dev libattr1-dev libnfs-dev libudev-dev libxen-dev libepoxy-dev libdrm-dev libgbm-dev libvirglrenderer-dev libgtk-3-dev libspice-protocol-dev libspice-server-dev libusb-1.0-0-dev libpulse-dev libsdl2-dev libslirp-dev libncurses5-dev libncursesw5-dev libx11-dev libxext-dev libxt-dev libpng-dev libvte-2.91-dev libfuse-dev git make rsync cpio unzip libcap-ng-dev libattr1-dev
